body {
    background: url("images/background/green.png");
    margin: 0px;
    min-width: 960px;
}

h1 {
    color: #fff;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    font: 80px 'ChunkFiveRegular';
    text-align:center;
}

header {
    margin-bottom: 28px;
}

p {
    text-align: center;
}
nav ul li {
        float: left;
        padding: 0px 25px;
        margin: 0 5px;
        font-size: 17px;
        height: 73px;
        line-height: 4.3em;
}
nav ul {
        margin: 0px;
        list-style-type: none;
}
nav ul li:hover, .aktivni {
        background: #ffbb00;
        box-shadow: 0px 0px 5px black;
}
nav {
    width:100;
}